#bird-container {
    position: fixed;
    top: 0;
    left: 0; /* Start off-screen */
    pointer-events: none;
    z-index: 9999;
  }
  
  .bird {
    width: 200px; /* Adjust bird size */
    position: absolute;
    animation: fly linear infinite;
    opacity: 0.9;
  }
  

  @keyframes fly {
    0% {
      transform: translate(100vw, 0) scale(1); /* Start from the right off-screen */
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translate(-100vw, -50vh) scale(1.2); /* End off-screen to the left, flying upwards */
      opacity: 0;
    }
  }
  