*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
  font-family: sans-serif;

  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') ;
  
}

h3{
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

/* Card design for Projects */

.btn{
  background-color: #242424 !important;
  border: black !important
}

.btn:hover{
  transform: scale(1.05);
}

.card:hover{
  
  transform: scale(102%);
  box-shadow: 5px 8px  rgba(209, 209, 215, 0.7) !important
}

.card-body{
  background-image: url('https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=645&q=80') ; 
  background-position: center;  
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.4);
}

/* Accordion Customization*/

.accordion-button{
  background-color: #ced4da !important;
  color: black;
  box-shadow: none;
}

.accordion-button:hover {
  box-shadow: 0 0 0 .25rem rgba(77, 76, 76, 0.284) !important;
}

.accordion-button:active {
  box-shadow: none !important;
}

.accordion-button:PLEAT {
  box-shadow: none !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  box-shadow: none !important;

}



/* Typing Section */

.particles-typing h1{
  position: absolute;
  top: 30%;
  
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  pointer-events: none;
  font-family: 'Droid Sans', serif;
}





.typewriter {
  display: inline-flex;
  width: 100%;
}

.container{
  border-radius: 25px;
}

.typewriter h1 {
  max-width: 100;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {max-width: 0}
  to {max-width: 100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* side by dide div for education and resume*/

.container-float-child {
  width: 50%;
  float: left;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5ex;
  filter:grayscale(30%)
  
  
}  

.container-float-child:hover {
  filter: none;
  scale: 1.02;

} 






/* Go top Top Button*/


#myBtn {
  
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: gray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}
























